[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "public"]
	path = public
	url = https://github.com/mtlmacedo/mtlmacedo.github.io.git
[submodule "public/blog"]
	path = public/blog
	url = https://github.com/mtlmacedo/blog.git
[submodule "publiv"]
	path = publiv
	url = https://github.com/mtlmacedo/blog.git
[submodule "mtlmacedo.github.io"]
	path = mtlmacedo.github.io
	url = https://github.com/mtlmacedo/mtlmacedo.github.io.git
